$body-font-family: 'Persion';
$font-size-root: 14px;
$alert-font-size: 12px;
$icon-size: 22px;
$messages-line-height: 16px;
$counter-line-height: 16px;
$speed-dial-padding: 6px;
$speed-dial-button-margin: 2px;